<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deputy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47FBF2351E5D283400196EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47FBF24E1E5D283400196EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47FBF2591E5D283400196EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
